<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
	  <a class="navbar-brand" routerLink="/supervisor/lista_guardia">
		<i class="fas fa-link"></i> SET
	  </a>
	 
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav ">
		  
		  <li class="nav-item dropdown">
		
		  
		  <!--<li class="nav-item">
			<a class="nav-link" routerLink="/usuario/usuario_supervisor_lista">Supervisores</a>
		  </li>-->
		  <li class="nav-item dropdown" style="margin-left: 15px;">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			  Guardias
			</a>
			<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
			  <li><a class="dropdown-item" routerLink="/supervisor/lista_guardia">Visualizacion General</a></li>
			  <div class=dropdown-divider></div>
			  <li><a class="dropdown-item" routerLink="/supervisor/AgregarGuardia" >Agregar Guardias</a></li>
			</ul>
		  </li>
		  <li class="nav-item dropdown" style="margin-left: 15px;">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			  Turnos
			</a>
			<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
			  <li><a class="dropdown-item" routerLink="/supervisor/list_turnos">Turnos</a></li>
			  <div class=dropdown-divider></div>
			  <li><a class="dropdown-item"  routerLink="/supervisor/turnero"> Asignacion turnos </a></li>
			</ul>
		  </li>

		  
		  <li class="nav-item" style="margin-left: 15px;">
			<a class="nav-link" routerLink="/supervisor/CalendarioMañana">Calendario</a>
		  </li>
          <li class="nav-item" style="margin-left: 15px;">
			<a class="nav-link" routerLink="/supervisor/list_equipos" >Visualizar Equipos</a>
		  </li>
		  <li class="nav-item" style="margin-left: 15px;">
			<a class="nav-link" routerLink="/supervisor/list">Usuarios</a>
		  </li>
		  <li class="nav-item" style="margin-left: 15px;">
			<a class="nav-link" routerLink="/supervisor/servicio_add"> Servicios </a>
		  </li>
		  
		</ul> 
	  </div>
	  <div class="nav-item ">
  
		<ul   class=navbar-nav ml-auto>
		  <li class=nav-item dropdown dropdown-menu-right>
			<a class=nav-link dropdown-toggle href=# id=navbarDropdown role=button data-toggle=dropdown aria-haspopup=true aria-expanded=false>
			  <i class="far fa-user"> </i>
			  <span class="user" style="margin-left: 10px;" >{{datoUsuario}}</span>
			</a>
			<div class="dropdown-menu dropdown-menu-dark" aria-labelledby=navbarDropdown>
			  <a class=dropdown-item routerLink="/supervisor/info_personal">Informacion Personal</a>
			  <div class=dropdown-divider></div>
			  
			  <a class=dropdown-item  routerLink="" (click)="logout()">Salir</a>
			</div>
		  </li>
		</ul>   
	  </div>
	</div>
  </nav>
	
  


  

  
  




<body>
  <p class="p"> {{titulo}} - Modulo Supervisor</p>
    <div class="container" id="advanced-search-form">
        <h2 class="titulo">{{titulo}}</h2>
        <form form [formGroup]="usuarioForm"  (ngSubmit)="addUsuario()">
            <div class="form-group">
                <label for="first-name">Nombre</label>
                <input type="text" formControlName="nombre" class="form-control" 
                placeholder="Nombre" />
            </div>
            <div class="form-group">
                <label for="last-name">Apellido</label>
                <input type="text" formControlName="apellido" class="form-control" placeholder="Apellido" />
            </div>
            
            <div class="form-group">
                <label for="correo">Correo electronico</label>
                <input type="text" formControlName="correo" class="form-control" placeholder="Correo electronico" />
                
            </div>
           
             
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" formControlName="password" class="form-control" placeholder="Contraseña, min 6 caract." />
            
            
        </div>
          <div class="form-group">
            <label for="celular">Clelular</label>
            <input type="text" formControlName="celular" class="form-control" placeholder="Celular" />
        </div>
        
        <div class="form-group">
          <label for="celular">Rut</label>
          <input type="text" formControlName="rut" class="form-control" placeholder="rut" />
      </div>

      <div class="form-groupp">
        <label class="nombre text-dark">Tipo Usuario</label>
        <select class="f"  class="form-select form-select-lg mb-1" style="height: 50px;" formControlName="rol" >
         <option value="GUARDIA_ROLE">Guardia</option>
              
      </select>
    </div>
        <div class="form-group">
          <label for="correo">Ciudad</label>
          <input type="text" formControlName="ciudad" class="form-control" placeholder="ciudad" />
          
      </div>


      <div class="form-group">
        <label for="correo">direccion</label>
        <input type="text" formControlName="direccion" class="form-control" placeholder="direccion" />
        
       </div>
    
    <div class="form-groupp">
      <label class="nombre text-dark">Region</label>
      <select class="f"  class="form-select form-select-lg mb-1" style="height: 50px;"  formControlName="region"  >
        <option *ngFor="let Regione of listregiones" [value]="Regione.id" >{{Regione.nombre}}</option> 
    </select>
    </div>
        
            
            <div class="clearfix"></div>
            <button type="submit" [disabled]="usuarioForm.invalid" class="btn btn-info btn-lg btn-responsive" id="search"> <span class="glyphicon glyphicon-search"></span> Agregar</button>
        </form>
    </div>
</body>
