
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/usuario">
        <i class="fas fa-link"></i> SET
      </a>
     
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
          
          <li class="nav-item dropdown">
            
          <!--<li class="nav-item">
            <a class="nav-link" routerLink="/usuario/add">Agregar Usuario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/usuario">Visualizacion General</a>
          </li>
         <li class="nav-item">
            <a class="nav-link" routerLink="/usuario/usuario_supervisor_lista">Supervisores</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " routerLink="/usuario/usuario_guardia_lista">Lista de Clientes</a>
          </li>-->
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown" style="margin-left: 15px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Usuarios
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" routerLink="/usuario">Visualizacion General</a></li>
                  <div class=dropdown-divider></div>
                  <li><a class="dropdown-item" routerLink="/usuario/add" >Agregar Usuario</a></li>
                  <div class=dropdown-divider></div>
                  <li><a class=dropdown-item  routerLink="/usuario/usuario_guardia_lista" >Lista Guardias</a></li>
                  <div class=dropdown-divider></div>
                  <li><a class=dropdown-item  routerLink="/usuario/usuario_supervisor_lista" >Lista Supervisores</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown" style="margin-left: 15px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Clientes
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" routerLink="/usuario/lista_cliente">Visualizacion Clientes</a></li>
                  <div class=dropdown-divider></div>
                  <li><a class="dropdown-item"routerLink="/usuario/add_cliente" >Agregar Cliente</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown" style="margin-left: 15px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Guardias
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" routerLink="/usuario/lista_turno">Visualizar Turnos</a></li>
                  
                  <li><a class="dropdown-item"routerLink="/usuario/add_turno" >Agregar Turnos</a></li>
                  <div class=dropdown-divider></div>
                  <li><a class="dropdown-item" routerLink="/usuario/lista_equipo">Visualizar Equipos</a></li>
                  
                  <li><a class="dropdown-item"routerLink="/usuario/add_equipo" >Agregar Equipos</a></li>

                </ul>
              </li>
              <li class="nav-item dropdown" style="margin-left: 15px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Servicios
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  
                  <li><a class="dropdown-item"routerLink="/usuario/servicio">Agregar Servicios</a></li>
                  <div class=dropdown-divider></div>
                  <li><a class="dropdown-item" routerLink="/usuario/servicio_list">Visualizar Servicios</a></li>
                 
                </ul>
              </li>
            </ul>
          </div>
          
          <li class="nav-item ">
            <a class="nav-link " routerLink="/usuario/usuario_guardia_lista" style="margin-left: 15px;">Reportes</a>
          </li>
        </ul>
      </div>
      <div class="nav-item ">
        <ul   class=navbar-nav ml-auto>
          <li class=nav-item dropdown dropdown-menu-right>
            <a class=nav-link dropdown-toggle href=# id=navbarDropdown role=button data-toggle=dropdown aria-haspopup=true aria-expanded=false>
              <i class="far fa-user"> </i>
              <span class="user" style="margin-left: 5px;" >{{datoUsuario}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby=navbarDropdown>
              <a class=dropdown-item routerLink="/usuario/informcacion_personal_usuario">Informacion Personal</a>
              <div class=dropdown-divider></div>
              <a class=dropdown-item  routerLink="" (click)="logout()">Salir</a>
            </div>
          </li>
        </ul>   
      </div>
    </div>
  </nav>




















<!--<h2 class="titulo">{{titulo}}</h2>
<body>
	<form form [formGroup]="usuarioForm" (submit)="signUp()"  (ngSubmit)="addUsuario()">
   
    <label class="nombre text-dark">Nombre</label>
		<input type="text" class="field" formControlName="nombre" value="nombre" id="nombre"  placeholder="Nombre"> <br/>
        <div class= "text-danger" 
                    *ngIf="usuarioForm.get('nombre')?.hasError('required') && usuarioForm.get('nombre')?.touched"> 
                    <span> El Nombre del usuario es <strong> obligatorio</strong></span>
        </div>

		<label class="nombre text-dark">Apellido</label>
		<input type="text" class="field" formControlName="apellido" placeholder="Apellido"> <br/>
        <div class= "text-danger" 
                    *ngIf="usuarioForm.get('apellido')?.hasError('required') && usuarioForm.get('apellido')?.touched"> 
                    <span> El Apellido del usuario es <strong> obligatorio</strong></span>
        </div>
        <label class="nombre text-dark">Celular</label>
		<input type="text" class="field" formControlName="celular" placeholder="celular"> <br/>
        <div class= "text-danger" 
                    *ngIf="usuarioForm.get('celular')?.hasError('required') && usuarioForm.get('celular')?.touched"> 
                    <span> El Correo electrónico del usuario es <strong> obligatorio</strong></span>
        </div>

		<label class="nombre text-dark">Correo electrónico</label>
		<input type="text" class="field" formControlName="correo" [(ngModel)]="user.correo" placeholder="Correo electrónico"> <br/>
        <div class= "text-danger" 
                    *ngIf="usuarioForm.get('correo')?.hasError('required') && usuarioForm.get('correo')?.touched"> 
                    <span> El Correo electrónico del usuario es <strong> obligatorio</strong></span>
        </div>

        <label class="nombre text-dark">Contraseña</label>
		<input type="password" class="field" formControlName="password" [(ngModel)]="user.password" placeholder="Contraseña, min 6 caract."> <br/>
        <div class= "text-danger" 
                    *ngIf="usuarioForm.get('password')?.hasError('required') && usuarioForm.get('password')?.touched"> 
                    <span> La Contraseña del usuario es <strong> obligatorio</strong></span>
        </div>

        <div class="form-groupp">
        <label class="nombre text-dark" >Tipo de usuario</label>
         <select class="select-css" formControlName="rol" >
              <option value="ADMIN_ROLE">Administrador</option>
              <option value="GUARDIA_ROLE">Guardia</option>
              <option value="SUPERVISOR_ROLE">Supervisor</option> 
            </select>
        </div>
		<p class="center-content">
			<input type="submit" [disabled]="usuarioForm.invalid" class="btn btn-info btn-lg btn-responsive" value="Agregar Usuario">
		</p>

	</form>
</body>-->




<body>
  <p class="p"> {{titulo}} - Modulo Administrador</p>
    <div class="container" id="advanced-search-form">
        <h2 class="titulo">{{titulo}}</h2>
        <form form [formGroup]="usuarioForm"  (ngSubmit)="addUsuario()">
            <div class="form-group">
                <label for="first-name">Nombre</label>
                <input type="text" formControlName="nombre" class="form-control" 
                placeholder="Nombre" />
            </div>
            <div class="form-group">
                <label for="last-name">Apellido</label>
                <input type="text" formControlName="apellido" class="form-control" placeholder="Apellido" />
            </div>
            
            <div class="form-group">
                <label for="correo">Correo electronico</label>
                <input type="text" formControlName="correo" class="form-control" placeholder="Correo electronico" />
                
            </div>
           
             
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" formControlName="password" class="form-control" placeholder="Contraseña, min 6 caract." />
            
            
        </div>
          <div class="form-group">
            <label for="celular">Clelular</label>
            <input type="text" formControlName="celular" class="form-control" placeholder="Celular" />
        </div>
        
        <div class="form-group">
          <label for="celular">Rut</label>
          <input type="text" formControlName="rut" class="form-control" placeholder="rut" />
      </div>

      <div class="form-groupp">
        <label class="nombre text-dark">Tipo Usuario</label>
        <select class="f"  class="form-select form-select-lg mb-1" style="height: 50px;" formControlName="rol" >
          <option value="ADMIN_ROLE">Administrador</option>
              <option value="GUARDIA_ROLE">Guardia</option>
              <option value="SUPERVISOR_ROLE">Supervisor</option> 
      </select>
    </div>
        <div class="form-group">
          <label for="correo">Ciudad</label>
          <input type="text" formControlName="ciudad" class="form-control" placeholder="ciudad" />
          
      </div>


      <div class="form-group">
        <label for="correo">direccion</label>
        <input type="text" formControlName="direccion" class="form-control" placeholder="direccion" />
        
       </div>
    
    <div class="form-groupp">
      <label class="nombre text-dark">Region</label>
      <select class="f"  class="form-select form-select-lg mb-1" style="height: 50px;"  formControlName="region"  >
        <option *ngFor="let Regione of listregiones" [value]="Regione.id" >{{Regione.nombre}}</option> 
    </select>
    </div>
    
            
            <div class="clearfix"></div>
            <button type="submit"  class="btn btn-info btn-lg btn-responsive" id="search"> <span class="glyphicon glyphicon-search"></span> Agregar</button>
        </form>
    </div>
</body>
