
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/usuario">
        <i class="fas fa-link"></i> SET
      </a>
     
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
          
          <li class="nav-item dropdown">
            
          <!--<li class="nav-item">
            <a class="nav-link" routerLink="/usuario/add">Agregar Usuario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/usuario">Visualizacion General</a>
          </li>
         <li class="nav-item">
            <a class="nav-link" routerLink="/usuario/usuario_supervisor_lista">Supervisores</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " routerLink="/usuario/usuario_guardia_lista">Lista de Clientes</a>
          </li>-->
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown" style="margin-left: 15px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Usuarios
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" routerLink="/usuario">Visualizacion Usuario</a></li>
                  <div class=dropdown-divider></div>
                  <li><a class="dropdown-item" routerLink="/usuario/add" >Agregar Usuario</a></li>
               
                </ul>
              </li>
              <li class="nav-item dropdown" style="margin-left: 15px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Clientes
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" routerLink="/usuario/lista_cliente">Visualizacion Clientes</a></li>
                  <div class=dropdown-divider></div>
                  <li><a class="dropdown-item"routerLink="/usuario/add_cliente" >Agregar Cliente</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown" style="margin-left: 15px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Equipos
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" routerLink="/usuario/lista_turno">Visualizar Horarios</a></li>
                  
                  <li><a class="dropdown-item"routerLink="/usuario/add_turno" >Agregar Horario</a></li>
                  <div class=dropdown-divider></div>
                  <li><a class="dropdown-item" routerLink="/usuario/lista_equipo">Visualizar Equipo</a></li>
                  
                  <li><a class="dropdown-item"routerLink="/usuario/add_equipo" >Agregar Equipos</a></li>
                 </ul>
              </li>
              <li class="nav-item dropdown" style="margin-left: 15px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Servicios
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  
                  <li><a class="dropdown-item"routerLink="/usuario/servicio">Agregar Servicio</a></li>
                  <div class=dropdown-divider></div>
                  <li><a class="dropdown-item" routerLink="/usuario/servicio_list">Visualizar Servicios</a></li>
                 
                </ul>
              </li>
            </ul>
          </div>
          
          <li class="nav-item dropdown" style="margin-left: 15px;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reportes
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              
              <li><a class="dropdown-item"routerLink="/usuario/reporte_general">Reporte General</a></li>
              <div class=dropdown-divider></div>
              <li><a class="dropdown-item" routerLink="/usuario/reporte/equipos">Reporte Equipo</a></li>
              <div class=dropdown-divider></div>
              <li><a class="dropdown-item" routerLink="/usuario/reporte/teamguardia">Reporte Guardia</a></li>
             
            </ul>
          </li>
        </ul>
      </div>
      <div class="nav-item ">
        <ul   class=navbar-nav ml-auto>
          <li class=nav-item dropdown dropdown-menu-right>
            <a class=nav-link dropdown-toggle href=# id=navbarDropdown role=button data-toggle=dropdown aria-haspopup=true aria-expanded=false>
              <i class="far fa-user"> </i>
              <span class="user" style="margin-left: 5px;" >{{datoUsuario}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby=navbarDropdown>
              <a class=dropdown-item routerLink="/usuario/informcacion_personal_usuario">Informacion Personal</a>
              <div class=dropdown-divider></div>
              <a class=dropdown-item  routerLink="" (click)="logout()">Salir</a>
            </div>
          </li>
        </ul>   
      </div>
    </div>
  </nav>

























    
<!--<body>
    <p class="p"> {{titulo}} - Modulo Administrador</p>
      <div class="container" id="advanced-search-form">
          <h2 class="titulo">{{titulo}}</h2>
          <form form [formGroup]="clienteForm"  (ngSubmit)="addCliente()">
              <div class="form-group">
                  <label for="first-name">Nombre</label>
                  <input type="text" formControlName="nombre" class="form-control" 
                  placeholder="Nombre" />
              </div>
              <div class="form-group">
                  <label for="last-name">Rut</label>
                  <input type="text" formControlName="rut" class="form-control" placeholder="Rut" />
              </div>
              <div class="form-group">
                  <label for="correo">Celular</label>
                  <input type="text" formControlName="celular" class="form-control" placeholder="Celular"  />
                  
              </div>
              <div class="form-group">
                  <label for="password">Correo electronico</label>
                  <input type="text" formControlName="correo" class="form-control" placeholder="Correo electronico" />
                  
              </div>
             
              
              <div class="clearfix"></div>
              <button type="submit" class="btn btn-info btn-lg btn-responsive" id="search"> <span class="glyphicon glyphicon-search"></span> Agregar</button>
          </form>
      </div>
  </body>-->

 <!-- <h2 class="p">{{titulo}}</h2>
  
<body>
	<form form [formGroup]="clienteForm"  (ngSubmit)="addCliente()">
   
    <label class="nombre text-dark" style="margin: 15px auto 0;">Nombre</label>
		<input type="text" class="field" formControlName="nombre"  value="nombre" id="nombre"  placeholder="Nombre"> <br/>
        <div class= "text-danger" 
                    *ngIf="clienteForm.get('nombre')?.hasError('required') && clienteForm.get('nombre')?.touched"> 
                    <span> El Nombre del cliente es <strong> obligatorio</strong></span>
        </div>

		<label class="nombre text-dark" style="margin: 15px auto 0;">Rut de la empresa</label>
		<input type="text" class="field" formControlName="rut" placeholder="Rut"> <br/>
        <div class= "text-danger" 
                    *ngIf="clienteForm.get('rut')?.hasError('required') && clienteForm.get('rut')?.touched"> 
                    <span> El Rut del Cliente es <strong> obligatorio</strong></span>
        </div>
        <label class="nombre text-dark" style="margin: 15px auto 0;">Celular</label>
		<input type="text" class="field" formControlName="celular" placeholder="celular"> <br/>
        <div class= "text-danger" 
                    *ngIf="clienteForm.get('celular')?.hasError('required') && clienteForm.get('celular')?.touched"> 
                    <span> El Celular del Cliente es <strong> obligatorio</strong></span>
        </div>

		<label class="nombre text-dark" style="margin: 15px auto 0;">Correo electrónico</label>
		<input type="text" class="field" formControlName="correo"  placeholder="Correo electrónico"> <br/>
        <div class= "text-danger" 
                    *ngIf="clienteForm.get('correo')?.hasError('required') && clienteForm.get('correo')?.touched"> 
                    <span> El Correo electrónico del Cliente es <strong> obligatorio</strong></span>
        </div>




        <label class="nombre text-dark" style="margin: 15px auto 0;" >Region</label>
        <select class="form-select"  formControlName="region" formControlName="region" aria-label="Default select example">
            <option *ngFor="let Regione of listregiones" [value]="Regione.id" >{{Regione.nombre}}</option>
          </select>

          <label class="nombre text-dark" style="margin: 15px auto 0;">direccion</label>
          <input type="text" class="field" formControlName="ciudad"  placeholder="ciudad"> <br/>




          <label class="nombre text-dark" style="margin: 15px auto 0;">direccion</label>
          <input type="text" class="field" formControlName="direccion"  placeholder="direccion"> <br/>
          

		<p class="center-content">
			<input type="submit"  class="btn btn-info btn-lg btn-responsive" value="Agregar Usuario">
		</p>

	</form>
</body>-->

<body>
  <p class="p"> {{titulo}} - Modulo Administrador</p>
    <div class="container" id="advanced-search-form">
        <h2 class="titulo">{{titulo}}</h2>
        <form form [formGroup]="clienteForm"  (ngSubmit)="addCliente()">
            <div class="form-group">
                <label for="first-name">Nombre</label>
                <input type="text" formControlName="nombre" class="form-control" 
                placeholder="Nombre" />
            </div>
            <div class="form-group">
                <label for="last-name">Rut</label>
                <input type="text" formControlName="rut" class="form-control" placeholder="rut" />
            </div>
            
            <div class="form-group">
                <label for="celular">Celular</label>
                <input type="text" formControlName="celular" class="form-control" placeholder="celular" />
                
            </div>
            
          <div class="form-group">
            <label for="password">Correo electronico</label>
            <input type="text" formControlName="correo" class="form-control" placeholder="Correo electronico" />
           
            
        </div>
          <div class="form-group">
            <label for="celular">Empresa</label>
            <input type="text" formControlName="empresa" class="form-control" placeholder="empresa" />
        </div>

          
        <div class="form-group">
          <label for="ciudad">Ciudad</label>
          <input type="text" formControlName="ciudad" class="form-control" placeholder="ciudad" />
          
      </div>

      <div class="form-group">
        <label for="direccion">direccion</label>
        <input type="text" formControlName="direccion" class="form-control" placeholder="direccion" />
        
    </div>
    <div class="form-groupp">
      <label class="nombre text-dark">Region</label>
      <select class="f"  class="form-select form-select-lg mb-1" style="height: 50px;"  formControlName="region"  >
        <option *ngFor="let Regiones of listregiones" [value]="Regiones.id" >{{Regiones.nombre}}</option> 
    </select>
    </div>

    <div class="form-groupp">
      <label class="nombre text-dark">Nivel</label>
      <select class="f"  class="form-select form-select-lg mb-1" style="height: 50px;" formControlName="nivel" >
        <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option> 
    </select>
  </div>
            <div class="clearfix"></div>
            <button type="submit"  class="btn btn-info btn-lg btn-responsive" id="search"> <span class="glyphicon glyphicon-search"></span> Agregar</button>
        </form>
    </div>
</body>

  