<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
	  <a class="navbar-brand" routerLink="/supervisor/lista_guardia">
		<i class="fas fa-link"></i> SET
	  </a>
	 
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav ">
		  
		  <li class="nav-item dropdown">
		
		  
		  <!--<li class="nav-item">
			<a class="nav-link" routerLink="/usuario/usuario_supervisor_lista">Supervisores</a>
		  </li>-->
		  <li class="nav-item dropdown" style="margin-left: 15px;">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			  Guardias
			</a>
			<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
			  <li><a class="dropdown-item" routerLink="/supervisor/lista_guardia">Visualizacion General</a></li>
			  <div class=dropdown-divider></div>
			  <li><a class="dropdown-item" routerLink="/supervisor/AgregarGuardia" >Agregar Guardias</a></li>
			</ul>
		  </li>
		  <li class="nav-item dropdown" style="margin-left: 15px;">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			  Turnos
			</a>
			<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
			  <li><a class="dropdown-item" routerLink="/supervisor/list_turnos">Turnos</a></li>
			  <div class=dropdown-divider></div>
			  <li><a class="dropdown-item"  routerLink="/supervisor/turnero"> Asignacion turnos </a></li>
			</ul>
		  </li>

		  
		  <li class="nav-item" style="margin-left: 15px;">
			<a class="nav-link" routerLink="/supervisor/CalendarioMañana">Calendario</a>
		  </li>
          <li class="nav-item" style="margin-left: 15px;">
			<a class="nav-link" routerLink="/supervisor/list_equipos" >Visualizar Equipos</a>
		  </li>
		  <li class="nav-item" style="margin-left: 15px;">
			<a class="nav-link" routerLink="/supervisor/list">Usuarios</a>
		  </li>
		  <li class="nav-item" style="margin-left: 15px;">
			<a class="nav-link" routerLink="/supervisor/servicio_add"> Servicios </a>
		  </li>
		  
		</ul> 
	  </div>
	  <div class="nav-item ">
  
		<ul   class=navbar-nav ml-auto>
		  <li class=nav-item dropdown dropdown-menu-right>
			<a class=nav-link dropdown-toggle href=# id=navbarDropdown role=button data-toggle=dropdown aria-haspopup=true aria-expanded=false>
			  <i class="far fa-user"> </i>
			  <span class="user" style="margin-left: 10px;" >{{datoUsuario}}</span>
			</a>
			<div class="dropdown-menu dropdown-menu-dark" aria-labelledby=navbarDropdown>
			  <a class=dropdown-item routerLink="/supervisor/info_personal">Informacion Personal</a>
			  <div class=dropdown-divider></div>
			  
			  <a class=dropdown-item  routerLink="" (click)="logout()">Salir</a>
			</div>
		  </li>
		</ul>   
	  </div>
	</div>
  </nav>
	
  








  

  <h2 class="p">{{titulo}}</h2>
  <body>
      <form form [formGroup]="turnoForm"  (ngSubmit)="addTurnos()">
     
      <label class="nombre text-dark" style="margin: 15px auto 0;">Nombre</label>
          <input type="text" class="field" formControlName="nombre"  value="nombre" id="nombre"  placeholder="Nombre"> <br/>
          <div class= "text-danger" 
                      *ngIf="turnoForm.get('nombre')?.hasError('required') && turnoForm.get('nombre')?.touched"> 
                      <span> El Nombre del turno es <strong> obligatorio</strong></span>
          </div>

          <label class="nombre text-dark" style="margin: 15px auto 0;">Hora de ingreso</label>
          <input type="text" class="field" formControlName="ingreso"  value="ingreso" id="ingreso"  placeholder="hora de ingreso"> <br/>
          <div class= "text-danger" 
                      *ngIf="turnoForm.get('ingreso')?.hasError('required') && turnoForm.get('ingreso')?.touched"> 
                      <span> El Nombre del turno es <strong> obligatorio</strong></span>
          </div>

          <label class="nombre text-dark" style="margin: 15px auto 0;">Hora de salida</label>
          <input type="text" class="field" formControlName="salida"  value="salida" id="salida"  placeholder="hora de salida"> <br/>
          <div class= "text-danger" 
                      *ngIf="turnoForm.get('salida')?.hasError('required') && turnoForm.get('salida')?.touched"> 
                      <span> El Nombre del turno es <strong> obligatorio</strong></span>
          </div>

          <label class="nombre text-dark" style="margin: 15px auto 0;">Total horas</label>
          <input type="text" class="field" formControlName="horas"  value="horas" id="horas"  placeholder="total de horas"> <br/>
          <div class= "text-danger" 
                      *ngIf="turnoForm.get('horas')?.hasError('required') && turnoForm.get('horas')?.touched"> 
                      <span> El Nombre del turno es <strong> obligatorio</strong></span>
          </div>

          <label class="nombre text-dark" style="margin: 15px auto 0;">Colacion</label>
          <input type="text" class="field" formControlName="colacion"  value="colacion" id="colacion"  placeholder="colacion"> <br/>
          <div class= "text-danger" 
                      *ngIf="turnoForm.get('nombre')?.hasError('required') && turnoForm.get('nombre')?.touched"> 
                      <span> El Nombre del turno es <strong> obligatorio</strong></span>
          </div>
  
  
          <p class="center-content">
              <input type="submit"  class="btn btn-info btn-lg btn-responsive" value="Agregar Turno">
          </p>
  
      </form>
  </body>
    