.container-fluid{
    background-color: rgb(255, 255, 255);
    
}
.p{
    text-align: center;
    font-size: 200%;
    color: rgb(12, 12, 12);
    font-style: initial;
    text-shadow: rgb(14, 13, 13) 0 0 10px;
  }
form{
    background-color: white;
    border-radius: 3px;
    color: #999;
    font-size: 0.8em;
    padding: 10px;
    margin: 5px auto 0;	
    width: 400px;
float: center;
}



.main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.table a.table-link.danger {
    color: #e74c3c;
}
.label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}
.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}
.user-list tbody td .text-dark {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}
a {
    color: #3498db;
    outline: none!important;
}
.user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.table thead tr th {
    text-transform: uppercase;
    font-size: 0.875em;
}
.table thead tr th {
    border-bottom: 2px solid #e7ebee;
}
.table tbody tr td:first-child {
    font-size: 1.125em;
    font-weight: 300;
}
.table tbody tr td {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
}
a:hover{
text-decoration:none;
}


.y{
   
    background-color: white;
}

.my-pagination .ngx-pagination .current {
    background: red;
  }

  body{
      
    margin-top:20px;
    background-color: #f8f9fa !important;
    }
    .accordion-style .card {
        background: transparent;
        box-shadow: none;
        margin-bottom: 15px;
        margin-top: 0 !important;
        border: none;
    }
    .accordion-style .card:last-child {
        margin-bottom: 0;
    }
    .accordion-style .card-header {
        border: 0;
        background: none;
        padding: 0;
        border-bottom: none;
    }
    .accordion-style .btn-link {
        color: #f99218;
        position: relative;
        display: block;
        width: 100%;
        text-align: left;
        white-space: normal;
        box-shadow: none;
        padding: 15px 55px;
        text-decoration: none;
    }
    .mx-auto {
        margin-right: auto !important;
        margin-left: auto !important;
    }
    .rounded {
        border-radius: 0.25rem !important;
    }
    img {
        max-width: 100%;
        height: auto;
        vertical-align: top;
    }
    .accordion-style .btn-link:hover {
        text-decoration: none;
    }
    .accordion-style .btn-link.collapsed {
        color: #575a7b;
    }
    .accordion-style .btn-link.collapsed:after {
        content: "+";
        position: absolute;
        top: 50%;
        left: 0;
        font-size: 1rem;
        color: #f99218;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-50%);
        box-shadow: 8px 8px 30px 0 rgba(0, 0, 0, 0.12);
    }
    .accordion-style .btn-link:after {
        content: "-";
        position: absolute;
        top: 50%;
        left: 0;
        font-size: 1rem;
        color: #fff;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #f99218;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-50%);
        box-shadow: 8px 8px 30px 0 rgba(0, 0, 0, 0.12);
    }
    .accordion-style .card-body {
        padding-top: 0px;
        padding-left: 3.5rem;
        padding-bottom: 0;
    }
    .accordion-style .card-body:before {
        position: absolute;
        content: "";
        border-style: dashed;
        border-width: 0 0 0 1.2px;
        border-color: #f99218;
        left: 20px;
        top: 0;
        z-index: 1;
        bottom: 0;
    }
    @media screen and (max-width: 767px) {
        .accordion-style .btn-link {
            padding: 15px 40px 15px 55px;
        }
    }
    @media screen and (max-width: 575px) {
        .accordion-style .btn-link {
            padding: 15px 30px 15px 55px;
        }
    }